body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}
#heading-color {
  color: tomato;
}

.link-btn {
  text-decoration: none;
  background-image: linear-gradient(#dd9263, tomato);
  color: white;
  font-weight: 400;
  font-size: 12px;
  padding: 15px 30px;
  border-radius: 20px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 20px;
  color: rgb(73, 70, 70);
}

p {
  color: gray;
  font-weight: 200;
  line-height: 25px;
}
.top-header {
  margin: 0;
}

.flexible-container {
  display: flex;
  margin-bottom: 100px;
}
.half-width {
  width: 50%;
  padding-left: 10%;
}

.heading {
  margin-top: 100px;
}

.about {
  height: 600px;
  background-image: url(images/about-me-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.recipies-section {
  text-align: center;
  color: red;
  margin: 30px 250px;
}
.footer-section-color {
  color: red;
}
.food-menu-section img {
  border-radius: 30px;
  padding: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}
.food-menu-item {
  width: 40%;
  box-shadow: 0px 0px 15px 2px rgb(189, 185, 185);
  border-radius: 30px;
}
.counter-section {
  width: 80%;
  height: 150px;
  box-shadow: 0px 0px 10px 2px rgb(189, 185, 185);
  border-radius: 10px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

.one {
  margin-left: 5%;
  margin-right: 3%;
}
.two {
  margin-right: 3%;
}
.three {
  margin-right: 5%;
}

.food-menu-item h2 {
  margin-left: 3%;
  padding-top: 2%;
  padding-left: 2%;
  padding-right: 2%;
  text-align: left;
}
.food-menu-item p {
  margin-left: 3%;
  text-align: left;
  padding: 2%;
}

.about-person {
  margin-top: 125px;
}
.about-food {
  margin-top: 120px;
  padding: 40px;
}

.counter-items {
  margin: auto;
}

.counter-items h3 {
  font-size: 30px;
  font-weight: 900;
}
.counter-items p {
  font-size: 15px;
}
.newsletter-section {
  text-align: center;
  color: white;
  background-image: url(images/menu-2--blur.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-bottom: 100px;
  margin-top: 100px;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.newsletter-section p {
  color: white;
}

.newsletter-section input {
  font-size: 20px;
  border: 1px solid #ccc;
  padding: 10px;
}
#submit-btn {
  background-color: tomato;
  margin-left: 10px;
  color: white;
}
input[type="submit"]:hover {
  opacity: 0.8;
}

.footer-section {
  text-align: center;
  background-color: #0b0d17;
  color: antiquewhite;
  padding: 20px;
}
